.mainSection{
    margin-top: 70px;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}

.ContentBox{
    width: 40%;
   
    padding-left: 1em;
}
.ContentBox h1{
    font-size: 2rem;
    color: #301934;
    text-align: center;
}
.ContentBox p{
    font-size: 1.2rem;
    margin: 1em 0;
    font-family: 'Poppins', sans-serif;
}
.btnBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}
.btn{
    border: 2px solid transparent;
    border-radius: 2em;
    background-image: linear-gradient(white,white),
    radial-gradient(circle at bottom right,purple,orange);
    background-origin: border-box;
    background-clip: content-box,border-box;

}
.readMore{
    display: inline-block;
font-size: 1.2rem;
padding: .5em 1.5em;
text-decoration: none;
color: #301934;

}
.imgcontainer{
    width: 50%;
}
.imgcontainer img{
    width: 90%;
    margin: 0 auto;
    display: block;
   
}

/* media queries */

@media screen and (max-width:900px){
  html{
    font-size: 15px;
   
  }
  
}
@media screen and (max-width:700px){
    html{
      font-size: 11px;
     
    }
    .mainSection{
        margin-top: 20px;
       flex-direction: column;
    }
    .ContentBox{
        width: 90%;
    }
    .ContentBox h1{
        font-size: 1.9rem;
    }
    .ContentBox p{
        font-size: 1.2rem;
    }
    .imgcontainer{
        width: 70%;
    }
    .imgcontainer img{
        margin-top: 20px;
    }
    
  }
  @media screen and (max-width:400px){
    
    .ContentBox h1{
        font-size: 1.9rem;
    }
    .ContentBox p{
        font-size: 1.2rem;
    }
    .imgcontainer{
        width: 75%;
    }
    .imgcontainer img{
        margin-top: 13px;
    }
    
  }