@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Anton&family=Lobster&family=Roboto:ital,wght@1,300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Anton&family=Poppins:wght@300&family=Roboto:ital,wght@1,300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mainColor: #8B008B;
}

header{
    background-color: var(--mainColor);
 
}

.Container{
    width: 95%;
   
   
    margin: 0 auto;
    max-width: 1200px;
}
.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-left: 1em;
    padding-top: 14px;
    font-size: 1.1em;
    font-family: 'Alkalami', serif;
}
.List{
   display: flex;
}
.listItem{
   margin-left: 2em;
   text-decoration: none;
   font-size: 21px;
   color: white;
   font-family: 'Poppins', sans-serif;
}


.icons{
    margin-right: 1.5rem;
  
}

.icon{
    color: white;
    margin-left: 1.5em;
    margin-right: .5em;
    font-size: 1.3em;
}

/* media queries */

@media screen and (max-width: 1100px){
    .icon{
        margin-left: 1em;
    }
}
@media screen and (max-width: 768px){
   html{
    font-size: 13px;
   }
   .container-flex{
    flex-direction: column;
   }

   .logo{
    font-size: 15px;

   }
   .listItem{
    margin-bottom: 18px;
   }
   .icons{
    margin-bottom: 6px;
   }
}

@media screen and (max-width: 568px){
    html{
        font-size: 10px;
       }
       .List{
        flex-direction: column;
        
    }
    .listItem{
        margin-bottom: 4px;
       }

       .icons{
        margin-bottom: 6px;
        font-size: 13px;
       }
}